@import url("./reset.css");
body {
  font-family: "Helvetica";
  font-style: normal;
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.__container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 100px;
  background-color: #F2F2F2;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link {
  margin-right: 10px;
}
.nav.__last-child {
  margin-right: 0 !important;
}
.nav__burger--btn {
  display: none;
}
.nav__logo {
  max-width: 200px;
  max-height: 90px;
  margin: 5px 0;
}
.nav__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__phone {
  width: 226px;
  text-align: right;
}

@media (max-width: 768px) {
  .header {
    height: 75px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .nav__list {
    display: none;
  }
  .nav__burger--btn {
    display: flex;
    width: 100px;
    height: 65px;
    align-items: center;
  }
  .nav__logo {
    height: 65px;
  }
  .nav__phone {
    width: 100px;
  }
}
@media (max-width: 640px) {
  .nav__list {
    display: none;
  }
}
.main {
  flex-grow: 1;
}

.main-block {
  min-height: 100vh;
  background-image: url("/images/bgMain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #F2F2F2;
}
.main-block__body {
  text-align: center;
  padding-top: 368px;
}
.main-block__title {
  font-weight: 700;
  font-size: 124px;
  line-height: 143px;
}
.main-block__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
}

@media (max-width: 768px) {
  .main-block__body {
    padding-top: 352px;
  }
  .main-block__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
  }
  .main-block__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}
.about-block {
  background-color: #0D0D0D;
  color: #F2F2F2;
}
.about-block__description {
  padding-top: 100px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  align-items: stretch;
  grid-auto-flow: row dense;
}

.description__title {
  font-weight: 700;
  font-size: 62px;
  line-height: 71px;
  margin-bottom: 30px;
}
.description__title__mobile {
  display: none;
}
.description__paragraph {
  font-weight: 400;
  font-size: 37px;
  line-height: 43px;
}
.description__img1 {
  grid-row: span 2;
}
.description__img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px 80px 80px 40px;
}
.description__img2 {
  padding-top: 50px;
}
.description__img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 80px 40px 40px 80px;
}

@media (max-width: 1024px) {
  .description__title {
    font-weight: 700;
    font-size: 48px;
  }
  .description__paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 27.6px;
  }
}
@media (max-width: 768px) {
  .about-block__description {
    padding-top: 50px;
  }
  .description__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
  }
}
@media (max-width: 640px) {
  .about-block__description {
    padding-top: 50px;
  }
  .description__title {
    display: none;
  }
  .description__title__mobile {
    display: block;
    grid-column: span 2;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 25px;
  }
  .description__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  .description__img1 {
    max-height: 280px;
    grid-row: span 1;
  }
  .description__img1 img {
    border-radius: 20px 40px 20px 20px;
  }
  .description__img2 {
    padding-top: 10px;
    grid-column: span 2;
  }
  .description__img2 img {
    border-radius: 20px 20px 40px 40px;
  }
}
.footer {
  height: 100px;
}