@import url("./reset.css");

$white: #F2F2F2;
$grayLight: #A6A6A6;
$gray: #595959;
$grayDark: #262626;
$black: #0D0D0D;

body{
  font-family: 'Helvetica';
  font-style: normal;
  font-size: 16px;
}

.wrapper{
	/* Footer down */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.__container{
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 20px;
}
//__HEADER__
.header {
  height: 100px;
  background-color: $white;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    margin-right: 10px;
  }
  &.__last-child {
    margin-right: 0 !important;
  }
  &__logo {
    width: 200px;
    height: 90px;
    margin: 5px 0;
  }
  &__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__phone {}
}


//__MAIN__
.main {
  flex-grow: 1;
}
.main-block {
	min-height: 100vh;
	background-image: url("/images/bgMain.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
  color: $white;
  &__body {
    text-align: center;
    padding-top: 368px;
  }
  &__title {
    font-weight: 700;
    font-size: 124px;
    line-height: 143px;
  }
  &__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
  }
}



.footer {
  height: 100px;
}
